body {
    font-family: "Outfit";
}

img {
    width: 100px;
}

body > header {
    background-color: dodgerblue;
    display: flex;
    justify-content: space-between
}

body > header h1 {
    color: white;
    margin-left: 10px;
}

body > header > nav > ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
}

body > header > nav > ul > li {
    margin: 10px
}

body > header > nav > ul > li > a {
    color: white
}

input[type=submit] {
    width: 75px;
}

input[type=email],
input[type=password] {
    width: 200px;
}

main,
article,
#comments {
    width: 90%;
    margin: auto
}

main {
    display: flex;
}

aside{
    width: 20%;    
}
    

#login {
    display: flex;
    flex-direction: column;
}

#latest-news {
    width: 80%;
}

.single-news {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 5px;
}

.single-news img{
    padding: 10px 0;
}

#textarea {
    margin-bottom: 30px;
}

textarea {
    width: 100%;
    height: 200px;
}

.textarea-button {
    float: right;
}

.user {
    border-top: 1px dotted dodgerblue;
}

footer {
    font-size: 10px;
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    text-align: center;
}